API_PORT=Number  Porta pela qual sua api deve ser direcionada
API_VERSION=Number  Versao da API

ENABLE_SWAGGER=Boolean  ativar o swagger
SWAGGER_CONTACT_NAME=String nome do ponto de contato
SWAGGER_CONTACT_EMAIL=String email do ponto de contato

DB_HOST=String  Host ultilizado
DB_PORT=Number  Numero da porta do banco
DB_USER=String  nome do usuario de acesso ao banco
DB_PASSWORD=String  senha do banco
DB_NAME=String  nome do banco de dados
DB_SYNC=Boolean  ativa a auto migration q sintoniza op objeto no backend com a tabela do bamco
DB_LOG=Boolean  habilita/desabilita Logs

JWT_SECRET_KEY=Chave para criar os tokens na jwt
JWT_EXPIRES_IN=tempo de expiraçao do token

JOB_RETRY_COUNT=maximo de tentativas
MAX_RUNNING_JOBS=numeros de jobs rodando
JOB_TIMEOUT=tempo de processaamento maximo esperado

PROFESSOR_NAME=categoria professor
PROFESSOR_EMAIL=email do professor
PROFESSOR_PASSWORD=senha do professor

STUDENT_NAME=nome do estudante
STUDENT_EMAIL=email do estudante
STUDENT_PASSWORD=senha do estudante

ADMIN_NAME=Admin User
ADMIN_EMAIL=email do admin
ADMIN_PASSWORD=senha do admin

AWS_ACCESS_KEY=chave da aws
AWS_SECRET_ACCESS_KEY=segredo da aws

AWS_S3_BUCKET=nome do bucked que deve ser usado

CELL_COUNTER_URL=url do script
CELL_COUNTER_TIMEOUT=tempo maxinmo
